@charset "UTF-8";

body{
    display:flex;
    justify-content: center;
    align-items: center;
    background-color:#53629E;
    font-family: Arial, Helvetica, sans-serif;
}

main#calculadora{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding:10px;
    background-color: #473472;
    margin: auto;
    border-radius: 10px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.281);
}

main#calculadora input{
    font-size: 1.8em;
    width:100%;
    height:75px;
    margin-bottom: 30px;
    outline: 0px;
    border: 4px solid rgb(91, 71, 110);
    background-color: #221e2b;
    color: white;
}

main#calculadora input:hover{
    outline: 0px;
}

main#calculadora input:active{
    outline: 0px;
}

main#calculadora div{
    display:grid;
    align-items: center;
    justify-content: space-evenly;
    grid-template-columns: repeat(4, 1fr);
    gap:1px;
}

main#calculadora div:active{
    filter: brightness(1.2)
}

main#calculadora div button{
    display: flex;
    justify-content: center;
    align-items: center;
    width:80px;
    height:70px;
    padding: 10px;
    color:#221e2b;
}

.numero{
    cursor: pointer;
    border: 1px solid black;
    background-color:#8791b6;
}

.other{
    cursor: pointer;
    border: 1px solid black;
    background-color: #AED6CF;
}

main#calculadora div button.igual{
    height:100%;
    cursor: pointer;
    grid-row:span 2;
    border: 1px solid black;
    background-color: #AED6CF;
}

main#calculadora div button p{
    font-size: 2em;
    text-align: center;
}